<h1>Beers</h1>
{{#each beers}}
  <div>
    <img src='{{this.image_url}}' alt='{{this.name}}' />
    <h2>{{this.name}}</h2>
    <p>{{this.tagline}}</p>
    <p>{{this.description}}</p>
  </div>
{{/each}}